body {
    margin: 0;
    background: #111;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc-container {
    width: 320px;
    background: #000;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #000;
    padding-bottom: 20px;
}

.display {
    background: #000;
    padding: 20px;
}

#display {
    width: 100%;
    height: 60px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 15px;
}

.btn {
    height: 70px;
    font-size: 1.8rem;
    border: none;
    border-radius: 50%;
    background: #333;
    color: white;
    transition: 0.1s;
}

.btn:active {
    transform: scale(0.95);
}

.grey {
    background: #9b9b9b;
    color: black;
}

.orange {
    background: #ff9500;
}

.orange:active {
    background: #d07c00;
}

.zero {
    grid-column: span 2;
    border-radius: 50px;
}

.equals {
    background: #ff9500;
}
